@import './variables';
@import './media-query-mixins';

.blog-vue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;

  &__empty {
    color: $secondary-color;
    font-family: $sans-serif-font;
  }

  &__search-form {
    position: relative;
    width: 50%;
    margin-bottom: 15px;

    @include for-phone-only {
      width: 100%;
    }
  }

  &__search-icon {
    position: absolute;
    top: 9px;
    left: 10px;
  }

  &__search-input {
    width: 100%;
    background: rgba(0,0,0,0.05);
    font-family: $sans-serif-font;
    font-size: 0.9em;
    border: 0;
    box-shadow: none;
    border-radius: 15px;
    height: 34px;
    padding: 6px 12px 6px 32px;

    &:focus {
      outline: none;
    }
  }

  &__list {
    width: 60%;

    @include for-phone-only {
      width: 100%;
    }
  }

  &__item {
    height: 120px;
    padding: 0;

    > a {
      &:hover, &:focus {
        background: rgba($link-color, 0.05);
        outline: none;
      }

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-decoration: none;
    }

    > * {
      color: $primary-color;
    }
  }

  &__item-title {
    padding-left: 15px;
    font-size: 1.2em;
  }

  &__item-subtitle {
    padding-left: 15px;
    font-size: 0.8em;
    margin: 0;
  }

  &__item-date {
    padding-right: 15px;
    font-size: 0.8em;
    margin: 0;
    color: $secondary-color;
    text-align: right;
  }
}
