@import './variables';
@import './media-query-mixins';

$row-height: 20px;
$card-width: 480px;
$card-padding: 10px;
$card-font-size: 0.9em;
$card-table-phone-height: 250px;

.contact-card-container {
  display: flex;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: $card-padding;
  width: $card-width;
  border-radius: 10px;
  border: 1px solid rgba($shadow-color, 0.1);

  @include for-phone-only {
    flex-direction: column;
    width: 300px;
  }

  &__avatar {
    flex: 1;
    margin-right: 10px;

    // Container has 10px padding; this evens it out on mobile
    @include for-phone-only {
      margin-right: 0;
      margin-bottom: 10px;
    }

    > img {
      border-radius: 50%;
      border: 2px solid rgba($shadow-color, 0.2);
    }
  }

  &__name {
    font-size: 1.4em;
    margin-top: 0;
  }

  &__table {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: $card-font-size;

    // Show each contact info as grouped by key vertical column in mobile
    @include for-phone-only {
      min-height: $card-table-phone-height;
      justify-content: space-around;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;

    // Show each contact info in a vertical column on mobile
    @include for-phone-only {
      flex-direction: column;
      text-align: center;
    }
  }

  &__key {
    flex: 1 1 15%;
    min-height: $row-height;

    // Dummy value doesn't have a key (mobile)
    &--dummy {
      @include for-phone-only {
        display: none;
      }
    }
  }

  &__value {
    flex: 4;
    color: $link-color-trans;
    min-height: $row-height;
    overflow: auto;

    // Dummy value doesn't have a key, so in mobile nudge it up a bit to appear as a subsequent value of prev key
    &--dummy {
      @include for-phone-only {
        margin-top: -5px;
      }
    }
  }

}
