$pimary-colour: #666;
$secondary-colour: #a0a4ab;

body {
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 2;
}

p {
  line-height: 2.5;
  text-align: justify;
}

.footnotes {
  color: $secondary-colour;
  font-size: 14px;
}

code {
  font-size: 70%;
}
