$min-tablet-portrait: 768px;
$min-tablet-landscape: 900px;
$min-desktop: 1200px;
$min-desktop-big: 1800px;


@mixin for-phone-only {
  @media (max-width: $min-tablet-portrait - 1) { @content; }
}

@mixin for-tablet-portrait-only {
  @media (max-width: $min-tablet-landscape - 1) and (min-width: $min-tablet-portrait) { @content; }
}

@mixin for-tablet-landscape-only {
  @media (max-width: $min-desktop - 1) and (min-width: $min-tablet-landscape) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $min-tablet-portrait) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $min-tablet-landscape) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: $min-desktop) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $min-desktop-big) { @content; }
}
