@import './variables';
@import './media-query-mixins';

a {
  color: $link-color-trans;
}

body {
  font-family: $font;
  font-size: $font-size;
}

ul {
  line-height: 1.8em;
}

p {
  line-height: 2em;
  text-align: justify;
}

code {
  font-size: 0.8em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  border-top: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.01);

  > .copyright {
    margin: 10px 10px 0;
  }
}

@include for-phone-only {
  h2 {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    line-height: 1.6em;
  }
}
