@import './variables';
@import './media-query-mixins';

body {
  font-family: $serif-font;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Override theme weight of subheading (looks bad so weak with smoothing)
.site-heading > .subheading {
  font-weight: 400 !important; // Def: 300
}

// Put sans-serif variation font on all headers
$headers: h5 h4 h3 h2 h1;
@each $header in $headers {
  #{$header} {
    font-family: $sans-serif-font
  }
}

a {
  color: $link-color;
}

ul {
  line-height: 1.8em;
}

p {
  line-height: 2em;
  text-align: justify;
}

code {
  font-size: 0.8em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  border-top: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.01);

  > .copyright {
    margin: 10px 10px 0;
  }
}

@include for-phone-only {
  h2 {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    line-height: 1.6em;
  }
}
