// Colours
$primary-color: rgb(102, 102, 102);
$secondary-color: rgb(160, 164, 171);
$link-color: rgb(0, 169, 220);
$link-color-trans: rgba($link-color, 0.6);
$shadow-color: rgb(0, 0, 0);

$header-height-mobile: 225px;

// Font
$serif-font: 'Noto Serif', serif;
$sans-serif-font: 'Noto Sans', sans-serif;
$font-size: 1.6em;
