RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
<IfModule mod_expires.c>
    ExpiresActive On

    <FilesMatch \.(css|js|jpg|png)$>
        ExpiresDefault "access plus 1 year"
    </FilesMatch>
</IfModule>
AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP:X-Forwarded-Proto} !=https
    RewriteCond %{HTTPS} !=on
    RewriteCond %{REQUEST_METHOD} !=POST
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
Header always set Strict-Transport-Security "max-age=86400"
