<table class="table table-bordered table-hover table-striped">
  <tbody>
    <tr>
      <td><i class="fa fa-envelope-o"></i> Email</td>
      <td><a href="mailto:jonathan.samosir@gmail.com">jonathan.samosir@gmail.com</a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="mailto:jonathan.samosir@monash.edu">jonathan.samosir@monash.edu</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-linkedin"></i> LinkedIn</td>
      <td><a href="http://www.linkedin.com/in/jsamosir">jsamosir</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-github"></i> GitHub</td>
      <td><a href="http://www.github.com/poltak">poltak</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-twitter"></i> Twitter</td>
      <td><a href="http://www.twitter.com/poltak_">@poltak_</a></td>
    </tr>
  </tbody>
</table>