<!-- The contact card component -->
<div class="contact-card">
  <div class="contact-card__avatar">
    {% avatar poltak size=150 %}
  </div>
  <div class="contact-card__table">
    <h1 class="contact-card__name">Jonathan Poltak Samosir</h1>
    <div class="contact-card__row">
      <div class="contact-card__key"><i class="fa fa-envelope-o"></i> Email</div>
      <a class="contact-card__value" href="mailto:jonathan.samosir@gmail.com">jonathan.samosir@gmail.com</a>
    </div>
    <div class="contact-card__row">
      <div class="contact-card__key contact-card__key--dummy"></div>
      <a class="contact-card__value" href="mailto:jonathan.samosir@monash.edu">jonathan.samosir@monash.edu</a>
    </div>
    <div class="contact-card__row">
      <div class="contact-card__key"><i class="fa fa-linkedin"></i> LinkedIn</div>
      <a class="contact-card__value" href="http://www.linkedin.com/in/jsamosir">jsamosir</a>
    </div>
    <div class="contact-card__row">
      <div class="contact-card__key"><i class="fa fa-github"></i> GitHub</div>
      <a class="contact-card__value" href="http://www.github.com/poltak">poltak</a>
    </div>
    <div class="contact-card__row">
      <div class="contact-card__key"><i class="fa fa-twitter"></i> Twitter</div>
      <a class="contact-card__value" href="http://www.twitter.com/poltak_">@poltak_</a>
    </div>
  </div>
</div>
