    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <!-- Bootstrap theme: http://bootswatch.com/paper/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/clean-blog.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Syntax CSS for syntax highlighting -->
    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet">

    <!-- Font-awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Don't use fullscreen -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
