    <!-- All my social media widgets -->
    <ul class="social-media-widgets" style="list-style: none;">
        <!-- Twitter share button -->
        <li style="display: inline;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="poltak_">Tweet</a>
        </li>

        <!-- Google+ +1 button -->
        <li style="display: inline;">
            <g:plusone></g:plusone>
        </li>

        <!-- Facebook like button -->
        <li style="display: inline;">
            <div class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
    </ul>

    <!-- Disqus comment widget -->
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

