.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 520px;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.containerCentered {
    margin: 0 auto;
}

.avatarImg {
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(204, 204, 204);
    margin-bottom: 0;
}

.infoContainer {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoRowTitle {
    width: 115px;
}

.infoRowValue {
    /* TODO: Find better way to position this. */
    width: 14em;
}

.name {
    font-size: 1.4rem;
}
