<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}



  <div class="container">
    <div class="page-header">
      <h2>{{ page.title }}</h2>
    </div>

    <p class="lead">
      <a href="{{ site.baseurl }}/blog"><i class="fa fa-arrow-circle-left"></i></a> {{ page.date | date_to_string }}
    </p>

    <div class="post">
      {{ content }}
    </div>

    <div class="container" style="margin-bottom: 10%;">
      {% include social.html %}
    </div>
  </div>

  {% include foot.html %}
  {% include javascripts.html %}

</body>
</html>