/* @tailwind base;
@tailwind components;
@tailwind utilities;*/

.site {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: [first] 10rem [padding-left] 200px [split] 5fr [padding-right] 1fr [last];
    grid-template-rows: [first] 10rem [content-top] 5fr [content-bottom] 1fr [last];

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: [first] 3rem [padding-left] 150px [split] 5fr [padding-right] 1fr [last];
    }
}

ul {
    line-height: 2rem;
}
