@import 'tailwindcss';

body {
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

:root {
    --text-color: #444;
    --bg-color: #fff;
    --hover-bg: rgba(0, 0, 0, 0.1);
    --border-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --bg-color: #1a1a1a;
        --hover-bg: rgba(255, 255, 255, 0.1);
        --border-color: #444;
    }
}

@layer base {
    h1 {
        font-size: var(--text-3xl);
        line-height: 3.2;
        font-weight: 900;
    }
    h2 {
        font-size: var(--text-2xl);
        line-height: 3.2;
        font-weight: 800;
    }

    h3 {
        font-size: var(--text-xl);
        line-height: 2.2;
        font-weight: 700;
    }

    h4 {
        font-size: var(--text-lg);
        line-height: 2.2;
        font-weight: 600;
    }

    ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    a {
        color: var(--color-blue-500);
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.1em;
    }

    a:hover {
        color: var(--color-blue-600);
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.1em;
    }
}

.site {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: [first] 10rem [padding-left] 200px [split] 5fr [padding-right] 1fr [last];
    grid-template-rows: [first] 10rem [content-top] 5fr [content-bottom] 1fr [last];

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: [first] 0rem [padding-left] 150px [split] 20fr [padding-right] 0 [last];
    }
}

ul {
    line-height: 2rem;
}
